# Carpetas de usuario
.workspace/
.legacy-tests-build/

*.FXP
*.BAK
*.ERR
packages
TestResults
references
bin
obj

# Archivos NSIS
C
# Output compilado
Output/

# Archivos temporales
*.tmp
*.log

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
